body{
    background-color: white;
    font-family: 'Franklin Gothic Medium';
}
#h3, h4{
    color: black;
    font-family: 'Trebuchet MS';
}
#h5{
    color: white;
    font-family: Tahoma;
}
p{
    color: black;
    font-family: Tahoma;
}
#p{
    color: white;
    font-family: Tahoma;
    text-align: center;
}
h6{
    color: black;
    font-family: 'Trebuchet MS';
}
h3{
    color: black;
    font-family: 'Franklin Gothic Medium';
}
h5{
    color: black;
    font-family: 'Trebuchet MS';
}

.navbar-custom{
    background-color: #135D66 ;
}
/*form*/
input[type="text"], input[type="date"],input[type="email"], textarea, select {
    width: 100%;
    border-radius: 10px; /*sudut border*/
    padding: 5px; /* sisi dalam border*/
    border: 2px solid #133E87; /* solid, dashed, dotted*/
    /*margin: 20 px; sisi luar border*/
}

button{
    border-radius: 10px;
    border: 1px solid white;
    background-color: #133E87;
    color: white;
    padding: 5px;
    width: 100%;
    
}
li{
    font-family: 'Trebuchet MS';
}

.rounded{
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #77B0AA;
    text-decoration: underline;
}