body{
    background-color: white;
    font-family: 'Franklin Gothic Medium';
}
#h3, h4{
    color: black;
    font-family: 'Trebuchet MS';
    text-align: center;
}
#h5{
    color: aliceblue;
    font-family: Tahoma;
}
p{
    color: aliceblue;
    font-family: Tahoma;
}

/*form*/
input[type="text"], input[type="date"], textarea, select {
    width: 100%;
    border-radius: 10px; /*sudut border*/
    padding: 5px; /* sisi dalam border*/
    border: 2px dashed red; /* solid, dashed, dotted*/
    /*margin: 20 px; sisi luar border*/
}

button{
    border-radius: 10px;
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
    
}